<div class="container-fluid mt--9">

  <!-- Card stats -->
  <div class="row">
    <div class="col-xl-3 col-lg-6">
      <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0 font-weight-bold ">Socios del mes: {{today |
                date:'MM'}}</h5>
              <span class="h2 font-weight-bold mb-0">{{estadisticas?.realMonth}}</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                <i class="fas fa-chart-bar"></i>
              </div>
            </div>
          </div>
          <p class="mt-3 mb-0 text-muted text-sm" *ngIf="estadisticas?.realMonth>estadisticas?.lastMonth">
            <span class="text-success mr-2"><i class="fas fa-arrow-up"></i>{{porcentaje(estadisticas?.realMonth,estadisticas?.lastMonth)}}</span>
            <span class="text-nowrap">Desde el mes pasado</span>
          </p>
          <p class="mt-3 mb-0 text-muted text-sm" *ngIf="estadisticas?.realMonth<estadisticas?.lastMonth">
            <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i>{{porcentaje(estadisticas?.realMonth,estadisticas?.lastMonth)}}</span>
            <span class="text-nowrap">Desde el mes pasado</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6">
      <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Ingresos del mes: {{today | date:'MM'}}</h5>
              <span class="h2 font-weight-bold mb-0">{{estadisticas?.realTotalEntryMonth}}</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                <i class="fas fa-chart-pie"></i>
              </div>
            </div>
          </div>
          <p class="mt-3 mb-0 text-muted text-sm" *ngIf="estadisticas?.realTotalEntryMonth>estadisticas?.lastTotalEntryMonth">
            <span class="text-success mr-2"><i class="fas fa-arrow-up"></i>{{porcentaje(estadisticas?.realTotalEntryMonth,estadisticas?.lastTotalEntryMonth)}}</span>
            <span class="text-nowrap">Desde el mes pasado</span>
          </p>
          <p class="mt-3 mb-0 text-muted text-sm" *ngIf="estadisticas?.realTotalEntryMonth<estadisticas?.lastTotalEntryMonth">
            <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i>{{porcentaje(estadisticas?.realTotalEntryMonth,estadisticas?.lastTotalEntryMonth)}}</span>
            <span class="text-nowrap">Desde el mes pasado</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6">
      <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Cantidad de socios en el predio</h5>
              <span class="h2 font-weight-bold mb-0">{{estadisticas?.sociosOnline}}</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                <i class="fas fa-users"></i>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6">
      <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Performance</h5>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                <i class="fas fa-percent"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<br> <br> <br> <br> <br>
